body {
    background-image: url('https://cdn.pixabay.com/photo/2015/10/22/17/32/smoke-1001664__340.png') ;
}

h1 {
    margin: 50 50 50 50;
    font-size: 45px;
    font-family:;
    color: white;
}

h2 {
    clear: left;
    padding-left: 50px;
    padding-top: 40px;
    color:white;
}

h3 {
    color: white;
    margin-bottom:50;
    margin-top:50;
    margin-left:60;
    margin-right:50;
    font-size: 30px;
    
}

p{
    margin-right:500px;
    background-color:black;
}

li{
    margin-left:50px;
}

.container {
    color:white;
}
